@media screen and (max-width: 997px) {
  body {
    
  }

  .container {
    width: 100%;
  }

  .menu a {
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 4px 0;
  }

  section {
    width: 80% !important;
  }

  /* home */
  section.home { 
    margin-top: 80px; 
  }

  /* galeria */
  section.galeria { 
    margin-top: 80px; 
  }

  /* contato */
  section.contato aside:first-child {
    display: none;
  }

  section.contato aside {
    width: 100%;
    min-height: 250px;
  }
  section.contato input,
  section.contato textarea {
    width: calc(100% - 8px);
  }
}