body {
  font-family: Arial;
}
a {
  color: #000000;
  text-decoration: none;
  border-left: 2px dashed #999999;
  border-bottom: 2px dashed #999999;
  padding: 8px;
  margin: 4px;
  display: inline-block;
}

section {
  border: 1px solid red;
  width: 600px;
  height: 400px;
  padding: 8px;
}

/* esconde TODAS as seções com excessão da HOME */
.sobre,
.clientes,
.contato
{ 
  display: none;
}
