/* GENERIC RULES */
body { 
  font-family: 'Trebuchet MS'; 
  background: black;
  color: white;
  padding-top: 60px;
}
h1 {
  text-align: center;
}

/* HOW TO USE: just put this class on your HTML tag element */
.neon {
  animation-name: neon-effect;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes neon-effect {
  0% {
      text-shadow: 0 0 5px #7bacff,
                   0 0 10px #7bacff,
                   0 0 20px #7bacff,
                   0 0 40px #7bacff,
                   0 0 80px #7bacff,
                   0 0 90px #7bacff,
                   0 0 100px #7bacff,
                   0 0 150px #7bacff;
  }
  50% {
      text-shadow: 0 0 5px #7bffce,
                   0 0 10px #7bffce,
                   0 0 20px #7bffce,
                   0 0 40px #7bffce,
                   0 0 80px #7bffce,
                   0 0 90px #7bffce,
                   0 0 100px #7bffce,
                   0 0 150px #7bffce;
  }
  75% {
      text-shadow: 0 0 5px #ff7bac,
                   0 0 10px #ff7bac,
                   0 0 20px #ff7bac,
                   0 0 40px #ff7bac,
                   0 0 80px #ff7bac,
                   0 0 90px #ff7bac,
                   0 0 100px #ff7bac,
                   0 0 150px #ff7bac;
  }
}
