#secao-galeria {
    width: 696px;
	min-height: 400px;
	margin: 20px auto 80px auto;
}

#album {
    border: 1px solid #71d400;
    border-radius: 10px;
    padding: 10px;
    background: #ffffff;
    text-align: center;
}

#album h2 {
    margin-bottom: 40px;
    text-shadow: 4px 4px 4px #cccccc;
}

#album .thumb{
    display: inline-block;
    border: 1px solid #71d400;
    border-radius: 6px;
    padding: 4px;
    margin: 0 6px;
}

#album .thumb img {
    width: 100px;
}
