/* conteudo da home */
#secao-home {
	/*border: 2px solid red;*/
	width: 996px;
	min-height: 400px;
	margin: 20px auto 80px auto;
}
.coluna {
	/*border: 1px solid blue;*/
	width: 456px;
	height: 300px;
	float: left;
	padding: 20px;
}
.coluna article {
	background: #ffffff;
	border: 1px solid #000000;
	border-radius: 12px;
	box-shadow: 6px 6px 7px #999999;
	text-shadow: 6px 6px 7px #999999;
	padding: 14px;
}
.coluna article:first-child {
	margin-bottom: 14px;
}

