@import 'fontes.css';
/*
azul:    #00427a
amarelo: #ffc20e
laranja: #ff9401
*/

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Regular';
  background: url(../img/background-1.jpg) repeat-x;
  background-position: 0 110px;
}

header {
  background: #00427a;
  color: white;
  width: 100%;
  border-bottom: 1px solid white;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.container h1 {
  font-size: 44px;
  display: inline-block;
  margin: 10px;
  color: #ffc20e;
}

.menu {
  /* border: 1px solid red; */
}

.menu a {
  display: inline-block;
  text-align: center;
  width: 300px;
  padding: 8px;
  color: white;
  text-decoration: none;
}

.menu a:hover,
.menu a.ativo {
  background: #ffc20e;
  color: #00427a;
}

/* BURGER MENU */

a.burger {
  width: 30px;
  height: 30px;
  padding: 4px;
  margin: 10px;
  float: right;
  display: none;

  border: 1px solid white;
  border-radius: 4px;
}

a.burger div {
  border-top: 1px solid white;
  margin: 7px 0;
}


/* HELPERS */
.show { display: block !important; transition: display 1s; }
.hide { display: none !important; }

.centraliza {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; /* adicionar o Z-INDEX 1 no HEADER e POSITION: relative; */
}


