@media screen and (max-width: 967px) {
  .container {
    width: 100%;
  }

  .container h1 {
    text-align: center;
    font-size: 34px;
    transition: font-size 0.5s;

    /* calculo de 80px devido a largura do burger + as margins do H1*/
    width: calc(100% - 80px);
  }
  
  a.burger {
    display: block;
  }

  a.burger:hover div:nth-child(2) {
    width: 50%;
    margin: 7px auto;
  }



  .menu {
    display: none;
  }

  .menu .menu-items a{
    display: block;
    width: 100%;
  }

}