
@media screen and (max-width: 967px) and (orientation : portrait) {
  body {
    background-position: 0 60px;
  }

  header {
    z-index: 9;
    position: relative;
  }

  .container {
    width: 100%;
  }

  .container h1 {
    text-align: center;
    font-size: 34px;
    transition: font-size 0.5s;

    /* centralizando o título sempre */
    /* calculo de 80px devido a largura do burger + as margins do H1 + 40px do padding */
    width: calc(100% - 120px);
    padding-left: 40px;
  }
  
  a.burger {
    display: block;
  }

  a.burger:hover div:nth-child(2) {
    width: 50%;
    margin: 7px auto;
  }

  .menu {
    display: none;
  }

  .menu .menu-items a{
    display: block;
    width: 100%;
    border-bottom: 1px dotted white;


    padding-right: 0;
    padding-left: 0;
    
  }

  /* FOOTER */
  footer {
    font-size: 10px;
  }

  /* HOME */
  .home {
    font-size: 12px;
    line-height: 16px;
    width: 80%;
    margin: 30px auto;
  }

  /* CURSOS */
  .curso {
    width: 80px;
    height: 80px;
  }
}

/* @media screen and (max-width: 1920px) and (orientation : landscape)  {
  .home {
   font-size: 10px;
   line-height: 16px;
   width: 90%;
   margin: 90px auto;
 }
}


 */
