@media screen and (max-width: 967px) {
  header {
    z-index: 9;
    position: relative;
  }

  .container {
    width: 100%;
  }

  .container h1 {
    text-align: center;
    font-size: 34px;
    transition: font-size 0.5s;

    /* centralizando o título sempre */
    /* calculo de 80px devido a largura do burger + as margins do H1 + 40px do padding */
    width: calc(100% - 120px);
    padding-left: 40px;
  }
  
  a.burger {
    display: block;
  }

  a.burger:hover div:nth-child(2) {
    width: 50%;
    margin: 7px auto;
  }

  .menu {
    display: none;
  }

  .menu .menu-items a{
    display: block;
    width: 100%;
    border-bottom: 1px dotted white;


    padding-right: 0;
    padding-left: 0;
    
  }


  /* HOME */
  .home {
    font-size: 12px;
  }



}